body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* 적절한 너비로 조정 */
    height: 100vh;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 200px; /* sidebar의 너비에 맞춰 조정 */
    width: calc(100% - 200px); /* sidebar의 너비를 빼고 나머지 공간으로 설정 */
}

.notice-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 20px); /* sidebar의 높이를 고려하여 조정 */
    margin-top: 20px; /* topbar의 높이만큼 여백 추가 */
}

.notice-box {
    border: 2px solid black;
    border-radius: 30px;
    background-color: #e8e8e8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px;
    width: 45%;
}

.notice-box h2 {
    color: black;
}

.notice-table,
.ranking-table,
.recent-problem-table {
    width: 100%;
}

.notice-content-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.transparent-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.transparent-table th,
.transparent-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.transparent-table th {
    background-color: #f2f2f2;
}

.transparent-table tr:nth-child(even) {
    background-color: #e8e8e8;
}

.transparent-table tr:hover {
    background-color: #d1d1d1;
}

.recent-problem-table {
    width: 100%;
    table-layout: auto;
}