 body {
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
        }

        .sidebar {
            flex: 0 0 200px;
        }
        
        .content {
            flex-grow: 1;
            margin-left: 20px;
        }
        
        form {
            margin-bottom: 20px;
        }
        
        table {
            margin-top: 20px;
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            border: 1px solid #dee2e6;
            border-right: none;
            padding: 10px;
            text-align: center;
        }
        
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        
        th:first-child,
        td:first-child {
            border-right: 1px solid #dee2e6;
        }
        
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        
        .pagination-box a {
            border: 1px solid black;
            margin: 0 5px;
            padding: 5px;
            color: black;
            text-decoration: none;
        }
        
        .pagination-box a:hover {
            background-color: #f2f2f2;
        }
        
        .pagination-box .active {
            background-color: #007bff;
            color: white;
        }
        
        .pagination-box .disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
        
        .top-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
        }