.problem-detail-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Jua', sans-serif;
  background-color: #fff;
}

.problem-detail-body {
  width: 700px; 
  height: 600px; 
  margin-left: 450px;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgb(229, 228, 224);
  padding: 30px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 1px rgba(187, 194, 199, 0.5);
  font-family: 'Jua', sans-serif;
  text-align: left; 
  display: inline-block;
}

.report-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.report-buttons .report-button,
.report-buttons .reset-button {
  margin-left: 10px;
}


.report-button,
.reset-button,
.additional-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  
}

.reset-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.problem-detail-info {
  font-size: 15px;
}

.problem-detail-comment-list {
  margin-right: 30px;
  text-align: center; 
  margin-top: 10px;
}

.problem-detail-comment-section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: left; 
}

.problem-detail-comment-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.problem-detail-comment-list li {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: left; 
}

.comment-textarea {
  width: 1470px; 
  height: 100px; 
}

.submit-button {
  margin-left:250px;
  background-color: blue; 
  color: white;
  border: none; 
  border-radius: 5px;
  padding: 10px 20px; 
  text-align: center; 
  display: inline-block; 
}

.reveal-button {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #a09a9a; 
  color: white; 
  border: none; 
  border-radius: 5px;
  padding: 10px 20px; 
  text-align: center; 
  display: inline-block; 
  margin-left: 5px;
}

.comment-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 1450px; 
  height: 100px;
}

.comment-submit-button {
  background-color: rgba(208, 208, 208, 0.942);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.comment-submit-button:hover {
  background-color: darkblue;
}

.additional-button {
  background-color: orange;
  margin-left: auto;
}

.problem-detail-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button,
.reveal-button {
  margin-right: 10px;
}

.additional-button {
  margin-left: auto;
  margin-right: 5px;
}

button{
  font-family: 'Jua', sans-serif;
}