.problem-detail-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Jua', sans-serif;
  background-color: #fff;
}

.problem-detail-body {
  width: 700px; 
  height: 500px; 
  margin-left: 450px;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 1px rgba(187, 194, 199, 0.5);
  font-family: 'Jua', sans-serif;
  text-align: left; 
  display: inline-block;
}

.problem-detail-comment-list {
  margin-right: 30px;
  text-align: center; 
  margin-top: 10px;
}

.problem-detail-comment-section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: left; 
}

.problem-detail-comment-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.problem-detail-comment-list li {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: left; 
}

.comment-textarea {
  width: 1470px; 
  height: 100px; 
}

.submit-button {
  margin-left:220px;
  background-color: blue; 
  color: white;
  border: none; 
  border-radius: 5px;
  padding: 10px 20px; 
  text-align: center; 
  display: inline-block; 
}

.reveal-button {
  margin-left: 30px;
  margin-right: 30px;
  background-color: orange; 
  color: white; 
  border: none; 
  border-radius: 5px;
  padding: 10px 20px; 
  text-align: center; 
  display: inline-block; 
}

.comment-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 1450px; 
  height: 100px;
}

.comment-submit-button {
  background-color: rgba(208, 208, 208, 0.942);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.comment-submit-button:hover {
  background-color: darkblue;
}
