.container {
    position: fixed;
    /* display: flex; */
    /* flex-direction: column; */
    top: 65px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: calc(100% - 65px);
    overflow-y: scroll;
    justify-content: center;
    font-family: 'Jua', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.problem_title {
    font-family: 'Jua', sans-serif;
    text-align: left;
    margin-left: 3%;
  }

.problem_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 1%;
}

form.search-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.problem_container form input[type="text"] {
    width: 18.7rem;
    height: 1.875rem;
    font-size: 1rem;
    margin-right: 0.625rem;
    margin-left: 3%;
    padding: 0.3125rem;
  }

.search-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(253, 195, 108);
    font-family: 'Jua', sans-serif;
  }

.submit-form{
    display: flex;
    justify-content: flex-end;
     margin-left: auto;
    float:right;
    margin-right:3%;
}

.submit-btn{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    float:right;
    margin-right:3%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    text-decoration: none;
    background-color:rgb(58, 110, 224);
    color: white;
    font-family: 'Jua', sans-serif;
}

table {
    margin-top: 3%;
    width: 94%;
    border-collapse: collapse;
    margin-left: 3%;
    margin-right: 3%
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(58, 110, 224);
    font-weight: bold;
    color: #FFFFFF;
}

.prob_contents {
  border-bottom: 1px solid gray;
}
.prob_contents2 {
  border-bottom: 1px solid gray;
  background-color: azure;
}

th:last-child,
td:last-child {
    border-right: 1px solid #dee2e6;
}

.idx{
 width: 3%;
}

.subject{
  width: 15%;
}

.title{
  width: 45%;
}

.author{
  width: 8%;
}

.date{
  width: 8%;
}

.OnMouse:hover{
  background-color: rgb(218, 217, 217);
}

.subject-input{
    display: block;
    min-width:100px;
    font-family: 'Jua', sans-serif;
    font-size: 1rem;
    margin-right: 0.625rem;
    margin-left: 3%;
    padding: 0.75rem 1.5rem;
}


