body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    flex: 0 0 200px;
}

.content {
    flex-grow: 1;
    margin-left: 20px;
}

form {
    margin: 30px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="submit"],
input[type="button"] {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: blue; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

input[type="text"] {
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    display: block;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

h1 {
    text-align: center;
    color: blue;
}

.content-body {
    margin-left: 40pt;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}