.cont{
    position: fixed;
    top: 65px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: calc(100% - 65px);
    overflow-y: scroll;
    justify-content: center;
    font-family: 'Jua', sans-serif;
}

.reported_title{
    text-align: left;
    margin-left: 3%;
}

table {
    margin-top: 3%;
    width: 94%;
    border-collapse: collapse;
    margin-left: 3%;
    margin-right: 3%
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(58, 110, 224);
    font-weight: bold;
    color: #FFFFFF;
}

.idx{
    width: 3%;
}
   
.subject{
    width: 15%;
}
   
.title{
    width: 45%;
}
   
.author{
    width: 8%;
}
   
.date{
    width: 8%;
}

.report{
    width: 5%;
}

.OnMouse:hover{
    background-color: rgb(218, 217, 217);
}

.prob_contents {
    border-bottom: 1px solid gray;
}
.prob_contents2 {
    border-bottom: 1px solid gray;
    background-color: azure;
}