/* .my-hr {
  border-top: 1px solid black;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  z-index: 0;
} */

.cont {
  position: fixed;
  top: 65px; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100% - 65px);
  overflow-y: scroll;
  justify-content: center;
  font-family: 'Jua', sans-serif;
}

.detail_tit{
  text-align: left;
  margin-left: 10%;
}

.detail_container {
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.detail_notice {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0.3125% 0.3125% 0.625% #ddd;
  padding: 1.25%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 1%;
}

.detail_title {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.25%;
  width: 100%;
  background-color: rgb(232, 237, 237);
  border-top: 2px solid black;
}

.detail-h2 {
  color: black;
  font-family: 'Jua', sans-serif;
}

.detail_info {
  text-align: right;
  margin-left: auto;
  border-bottom: 1px solid #ccc;
  font-family: 'Jua', sans-serif;
  width: 100%;
}

.date {
  display: inline-block;
  font-weight: bold;
  margin-right: 2%;
}

.detail_content {
  overflow: auto; /* 높이를 초과하는 내용이 있을 경우 스크롤바 표시 */
  word-wrap: break-word; /* 긴 단어를 줄바꿈하여 표시 */
  text-align: left;
  margin-bottom: 1.25%;
  font-family: 'Jua', sans-serif;
  width: 100%;
  padding: auto;
}

.cnt{
  margin-left: 3%;
  margin-right: 3%;
}

.notice_button {
  text-align: right;
  height: 100%;
  width: 100%;
}

.reveal-button {
  display: inline-block;
  margin-top: 0.625%;
  padding: 1.25%; /* Increase the padding for a larger button */
  background-color: #a09a9a;
  color: #fff;
  border: none;
  border-radius: 5px; /* Increase the border radius for a rounder button */
  cursor: pointer;
  font-family: 'Jua', sans-serif;
  width: 85px; /* Increased the width to 10% */
  height: 46px;
}

.edit-button {
  display: inline-block;
  margin-top: 0.625%;
  margin-right: 5px;
  padding: 1.25%; /* Increase the padding for a larger button */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px; /* Increase the border radius for a rounder button */
  cursor: pointer;
  font-family: 'Jua', sans-serif;
  width: 85px; /* Increased the width to 10% */
  height: 46px;
}

.delete-button {
  display: inline-block;
  /* margin-top: 0.625%; */
  /* margin-left: 0.625%; */
  padding: 1.25%; /* Increase the padding for a larger button */
  background-color: rgb(255, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px; /* Increase the border radius for a rounder button */
  cursor: pointer;
  font-family: 'Jua', sans-serif;
  width: 100%; /* Increased the width to 10% */
  height: 46px;
}

.button-form{
  display: inline-block;
  margin-right: 5px;
  width: 85px;
  height: 46px;
}
