.user-info{
    text-align: right;
    
}
.logout-btn {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .logout-btn:hover {
    background-color: #ddd;
  }
  
  .topbar-hr {
    border-top: 1px solid black;
  }
  