.join-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h2{
  text-align: center;
}

.join-form {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    max-width: 500px;
    margin: 0 auto;
}

.join-label {
    display: inline-block;
    /* margin-bottom: 10px; */
    margin-right: 10px;
    margin-bottom: 10px; 
    /* display: block; */
  }
  
  .join-input {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 180px;
    height: 28px;
    display: inline-block;
    /* padding: 5px; */
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .input-group {
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
   
  }


.verification-code-button,
.verification-check-button
/* .join-button,
.cancel-button  */{
    background-color: blue;
    text-align: center;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(89, 86, 86, 0.2);
    transition: background-color 0.2s ease;
    margin-left: 10px;
    display: inline-flex;
  align-items: center;
  justify-content: center;
}


.input-group .join-input {
  margin-right: 5px;
  /* text-align: center; */
}

.kku_mail {
  margin-top: 3px;
  display: block;
}

.input-group .verification-code-button {
  margin-left: 10px;
  align-self: flex-start;
}

.duplicate-check-button{
  background-color: rgb(237, 147, 57);
  padding: 10px;
  width: 75px;
  height: 30px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(89, 86, 86, 0.2);
    transition: background-color 0.2s ease;
    margin-left: 10px;
    display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* .verification-code-button,
.verification-check-button {
  margin-left: 10px;
  /* padding: 5px; */
  /* border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}  */

/* .duplicate-check-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
  } */

  .button-group {
    display: flex;
     justify-content: center;
    /* margin-top: 20px;  */
    align-items: center;
  }


  .button-space {
    /* margin-left: 10px; */
    width: 10px;
  }

  .isOK{
    color: blue;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }

  .isNotOK{
    color: red;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }
