.pagination {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
    font-family: 'Jua', sans-serif;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover:not(.active) {
    background-color: white;
}

.current-pagination {
    position: relative;
    left: 48%;
    color: rgb(58, 110, 224);
    font-family: 'Jua', sans-serif;
}