
body{
  padding: 0;
  margin: 0;
  
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(58, 110, 224);
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin-left: 20px;
  margin-right: 70px;
  color: white;
  text-decoration: none;
}

.menu h2 {
  margin-right: 20px;
  font-size: 23px;
}

.menu a:not(:last-child) {
  margin-right: 100px;
}

.menu a:hover {
  color: rgb(253, 195, 108);
}
.navi{

  margin-left: 100px;
}
.user-info {
  text-align: right;
  color: white;
}
strong{
  color:rgb(253, 195, 108);
}

.user-info a {
  margin-left: 10px;
  text-decoration: none;
}

.logout-btn {
  background-color: #f1f1f1;
  color: black;
  border: none;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 0 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: rgb(195, 194, 194);
}

/* Additional Styling */



